body {
    font-size: 1em;
}

input, button {
    font-size: 1em;

}

nav {
    background-color: tomato;
}

nav > ul {
    padding: 0;
    padding: 10px;
}

nav > ul > li {
    display: inline;
    list-style-type: none;
    margin: 0 10px;
}

.align-right {
    margin-left: 100px;
}

nav > a {
    list-style-type: none;
}